<% user.posts.forEach(function(post) { %>
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <img src="<%= user.profileImg %>" alt="Profile photo">
                </div>
                <div class="info">
                    <h3>
                        <%= user.fullName %>
                    </h3>
                    <small>
                        Nag Hamadi, <%= post.relativeTime %>
                    </small>
                </div>
            </div>
            <span class="edit">
                <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        <div class="photo">
            <img src="<%= post.media[0] %>" alt="Post image">
        </div>
        <div class="caption">
            <p><b>
                    <%= user.fullName %>
                </b>
                <%= post.caption %> 
            </p>
        </div>
        <div class="comments text-muted">View all <%= post.commentsCount %> comments</div>
        <div class="action-buttons">
            <div class="interaccion-buttons">
                <span>
                    <i class="uil uil-heart"></i>
                </span>
                <span>
                    <i class="uil uil-comment-dots"></i>
                </span>
                <span>
                    <i class="uil uil-share-alt"></i>
                </span>
            </div>
            <div class="bookmark">
                <span>
                    <i class="uil uil-bookmark"></i>
                </span>
            </div>
        </div>
    </div>
    <% }); %>